# fly.toml app configuration file generated for disneybound-planner-hidden-sunset-2589 on 2026-01-20T17:08:14-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'disneybound-planner-hidden-sunset-2589'
primary_region = 'sjc'
console_command = '/code/manage.py shell'

[build]

[deploy]
  release_command = 'uv run python manage.py migrate --noinput'

[env]
  DJANGO_SETTINGS_MODULE = 'config.settings'
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

  [[http_service.checks]]
    grace_period = "10s"
    interval = "30s"
    method = "GET"
    path = "/health/"
    timeout = "5s"
    headers = { Host = "disneybound-planner-hidden-sunset-2589.fly.dev" }

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024

[[statics]]
  guest_path = '/code/static'
  url_prefix = '/static/'
